body{
background-color: rgb(0, 0, 0);
margin: 30px;
}

p{
    color: rgb(255, 255, 255);
}

ul{
    color: rgb(243, 243, 243);
}

a{
    color: azure;
}

h1{
    text-align: center;
    color: rgb(240, 240, 240);
}

h4, h2, h5{
    color: rgb(245, 245, 245);
}

.gif {
display: flex;
justify-content: center;
}

.sobre{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.sobre div{
    background-color: #272626;
    margin: 10px;
    padding: 30px;
    justify-content: center;
}

.texto{
    width: 500px;
    font-size: 18px;
    justify-content: center;
}

.imagem {
    width: 200px;
    justify-content: center;
}

form{
    color: rgb(255, 255, 255);
    justify-content: center;
}

.comprar{
    background: #000000;
    padding: 10px 10px;
    border-radius: 2px;
}

.item{
background-color: #050505;
border: 1px solid #cacaca;
display: grid;
text-align: center;
justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.container{
    float: left;
    margin: 50px;
}